section h3{
    margin: 35px 0 30px 15px ;
    color: gray;
    
}
section ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    font-size: 20px;
    color: gray;
    margin: 0;
    padding: 0;
}
section ul li:hover{
    color: cornflowerblue;
    cursor: pointer;
}
section ul li{
    margin: 1em 8.5em;
}